# Handling dependencies:
# pip install -r requirements.in
# pip freeze --all > requirements.txt 

# Data Science
pandas
seaborn
scikit-learn
tensorflow   
shap

# Dev environment
folium
ipykernel
keras_tuner 
ipywidgets

# Deployment
Flask
gunicorn
streamlit